In [2]:
import sqlite3
conn = sqlite3.connect('ABC_DATA.db')

In [3]:
conn.execute('''
    CREATE TABLE customers(
      customer_id INT NOT NULL PRIMARY KEY,
      first_name VARCHAR(20),
      last_name VARCHAR(20),
      email VARCHAR(30)
    ); '''
)
conn.commit()
print('customers table created')

customers table created

In [4]:
conn.execute('''
    CREATE TABLE products(
      product_id INT NOT NULL PRIMARY KEY,
      product_name VARCHAR(20),
      price DECIMAL(6,2)
    ); '''
)
conn.commit()
print('products table created')

products table created

In [8]:
conn.execute('''
    CREATE TABLE orders(
      order_id INT NOT NULL PRIMARY KEY,
      customer_id INT,
      order_date DATE,
      FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
     ); '''
)
conn.commit()
print('orders table created')

orders table created

In [9]:
conn.execute('''
    CREATE TABLE order_items(
      order_id INT,
      product_id INT,
      quantity INT,
      FOREIGN KEY (order_id) REFERENCES orders(order_id),
      FOREIGN KEY (product_id) REFERENCES products(product_id)
    ); '''
)
conn.commit()
print('order_items table created')

order_items table created