In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 2.0 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [2]:
%load_ext sql

In [4]:
%sql sqlite:///ABC_DATA.db

In [5]:
%%sql CREATE TABLE customers(
    customer_id INT NOT NULL PRIMARY KEY,
    first_name VARCHAR(20),
    last_name VARCHAR(20),
    email VARCHAR(30)
);

 * sqlite:///ABC_DATA.db
Done.

[]

In [6]:
%%sql CREATE TABLE products(
    product_id INT NOT NULL PRIMARY KEY,
    product_name VARCHAR(20),
    price DECIMAL(2,2)
);

 * sqlite:///ABC_DATA.db
Done.

[]

In [7]:
%%sql CREATE TABLE orders(
    order_id INT NOT NULL PRIMARY KEY,
    customer_id INT,
    order_date DATE,
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);

 * sqlite:///ABC_DATA.db
Done.

[]

In [8]:
%%sql CREATE TABLE order_items(
    order_id INT,
    product_id INT,
    quantity INT,
    FOREIGN KEY (order_id) REFERENCES orders(order_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
);

 * sqlite:///ABC_DATA.db
Done.

[]