In [1]:
%load_ext sql

In [6]:
%sql  sqlite:////AREA.db

In [7]:
%%sql CREATE TABLE beneficiary_partner_data (
    partner_id INT NOT NULL PRIMARY KEY,
    partner VARCHAR(30) NOT NULL,
    village VARCHAR(30) NOT NULL,
    beneficiaries INT,
    beneficiary_type VARCHAR(30)
);

 * sqlite:////AREA.db
   sqlite:////content/sample_data/table_gen.txt
   sqlite:///AREA.db
Done.

[]

In [8]:
%%sql CREATE TABLE village_locations (
    village_id INT NOT NULL PRIMARY KEY,
    village VARCHAR(30) NOT NULL,
    latitude VARCHAR(30),
    longitude VARCHAR(30),
    total_population INT
);

 * sqlite:////AREA.db
   sqlite:////content/sample_data/table_gen.txt
   sqlite:///AREA.db
Done.

[]

In [9]:
%%sql CREATE VIEW District_summary AS
SELECT
     d.district_name AS District_Name,
     r.region_name AS Region_Name,
     SUM(b.beneficiaries) AS Total_Beneficiaries,
     SUM(b.beneficiaries) /d.district_population AS Beneficiaries_Per_Population
FROM
     BeneficiaryPartnerData b
JOIN
     VillageLocation v ON b.village_id = v.village_id
JOIN
    JurisdictionHierarchy d ON v.district_id = d.jurisdiction_id
JOIN
    JurisdictionHierarchy r ON d.parent_jurisdiction_id = r.jurisdiction_id
GROUP BY
     d.district_name, r.region_name;

 * sqlite:////AREA.db
   sqlite:////content/sample_data/table_gen.txt
   sqlite:///AREA.db
Done.

[]

In [10]:
%%sql CREATE VIEW Partner_summary AS
SELECT
    p.partner_name AS Partner_Name,
    COUNT(DISTINCT v.village_id) AS Village_Reached,
    COUNT(DISTINCT d.jurisdiction_id) AS Districts_Reached
FROM
    BeneficiaryPartnerData b
JOIN
    VillageLocation v ON b.village_id = v.village_id
JOIN
    JurisdictionHierarchy d ON v.district_id = d.jurisdiction_id
JOIN
    Partners p ON b.partner_id = p.partner_id
GROUP BY
    p.partner_name;

 * sqlite:////AREA.db
   sqlite:////content/sample_data/table_gen.txt
   sqlite:///AREA.db
Done.

[]